.footerMain {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100% - 1px);

  /* padding: 13px 0 18px; */
  margin-top: 14px;
  margin-bottom: 13px;
  color: #d1631a;
  vertical-align: top;
}

.footerWrapper {
  display: flex;
  width: 80%;
  border-top: 1.5px solid #d1631a;
}
